.topBarMenu img {
    width: 8vw;
    height:  8vw;
    margin-left: 3vw;
}

.topBarMenu img:hover {
  transform: scale(1.05);
}

.bottomText {
    text-align: center;
    margin-top: 20vh;
    color: #035200;
}

.mTop {
  margin-top: 10px;
}

.SmallActualTemperature {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sideBar {
    display: none;
  }

  .SmallActualTemperature {
    display: initial;
  }
}